.flex-container{
 	display: flex;
 	display: -webkit-flex;
	flex-direction: column;
	min-width: 100%;
	margin: 0;
	padding: 0;
}

.header{
	background-color:#0f1113;
	box-shadow:0 1px 1px #ccc;
	padding: 20px 40px;
	height: 80px;
	color: #ffffff;
	box-sizing: border-box;
  	top:-100px;
	-webkit-transition:top 0.3s;
	transition:top 0.3s;
}

.content-wrapper{
  display: flex;
  margin: 20px 20px 0 20px;
}

.left-sidebar-wrapper{
   flex:2;
   min-height: 100%;
}

.main-content-wrapper{
  flex:5;
} 

.main-body-wrapper{
	border: 1px dotted #0f1113;
	height: 1200px;
	margin-left: 25px;
	margin-top: 40px;
} 

.content-buttons{
	position: absolute;
	right:    0;
	margin:0 20px 20px 0;
}

.header-fixed-placeholder{
	height: 80px;
	display: none;
}

/* Logo */

.header-fixed img {
	float: left;
	width: 70px;
	line-height: 40px;
	margin: 0;
}

.header-fixed .header-limiter h1 span {
	color: #5383d3;
}

/* The navigation links */

.header-fixed .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-fixed .header-limiter nav {
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
}

.zimgo-article{
	width: 400px;
	display: flex;
	flex-flow: wrap;
}

.zimgo-content{
	display: flex;
	flex-wrap: wrap;
}

.zimgo-content-name{
	font-size: 14px;
}

.zimgo-content-description{
	font-size: 10px;
}

.zimgo-wrapper-name{
	margin-left:170px
}

 
.zimgo-wrapper-description{
	margin-left:170px;
	margin-top:30px;
}

.img-album{
	margin-left: 150px;
}

.accordion-custom-title{
	/* background-color: #fffrfff; */
}

.accordion-item-custom{
	background-color: #83a8dc;
    border-radius: 20px;
	color: #f8f9fa;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
}

accordion-custom{
	border: none;
}